@page
@model ATSPROD.Pages.RequestModel
@{
    ViewBag.Title = @Model.pagetitle;
    Layout = "_Layout";
}


<div class="row bg-white prevent-select">
    <div class="col-sm pe-md-0">
        <div class="card">
            <div class="card-body">
                <table id="tbldirectory" class="table table-hover table-striped w-100">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Local No.</th>
                            <th scope="col">Emp. No.</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.dataDirectory)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(m => item.itemno)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.fullname)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.localno)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.empcode)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm py-md-0" style="padding-top:10px;padding-bottom:60px">
       <div class="vstack">
            <div class="card">
                <div class="card-body">
                    <div id="divPartial"></div>
                </div>
            </div>
           
       </div>
        
       
    </div>
</div>
