@page "/cpars-test/{cparId}/lmao"
@model ATSAudit.Views.AuditPlans.ReadCPAR
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="form-group row" id="readCPARInitial">

        <div class="col-5">
            <div class="row">

                <div class="col-4">
                    <div >
                        <div class="form-text">Issued To</div>
                        <input name="cpar" class="form-control" type="text" value="@Model.Respondent" readonly />
                    </div>
                    <div>
                        <div class="form-text">Issued By</div>
                        <input class="form-control" type="text" value="@Model.Requestor" readonly />
                    </div>
                </div>

                <div class="col-4">
                    <div >
                        <div class="form-text">Issue Date</div>
                        <input class="form-control" type="text" value="@Model.IssueDate" readonly />
                    </div>
                    <div >
                        <div class="form-text">Audit Date</div>
                        <input class="form-control" type="text" @* value="@Model." *@ readonly />
                    </div>
                </div>

                <div class="col-4">
                    <div >
                        <div class="form-text">Response Due Date</div>
                        <input class="form-control" type="text" value="@Model.ResponseDueDate" readonly />
                    </div>
                    <div >
                        <div class="form-text">CAR Control No.</div>
                        <input class="form-control" type="text" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-text text-center">Requirement: ISO 9001:2015 CLAUSE</div>
                    <textarea class="form-control" readonly>@Model.ISOClause</textarea>
                </div>
                <div class="col-12">
                    <div class="form-text text-center">Problem Statement</div>
                    <textarea class="form-control" readonly>@Model.ProblemStatement</textarea>
                </div>
            </div>

            <hr class="border border-2">

            <div id="readCPARRespondent">

                <fieldset id="readCPARRC">
                    @* <legend class="text-center form-text">Root Cause Analysis</legend> *@
                    <h6 class="form-text text-center">Root Cause Analysis</h6>
                    <div class="row" id="readCPARRootCause">
                        <div class="form-group respondent">
                            <div class="form-text">Method</div>
                            <input class="form-control" type="text" id="readCPARRCMethod" readonly />
                            <div class="form-text">Machine</div>
                            <input class="form-control" type="text" id="readCPARRCMachine" readonly />
                            <div class="form-text">Material</div>
                            <input class="form-control" type="text" id="readCPARRCMaterial" readonly />
                            <div class="form-text">Man</div>
                            <input class="form-control" type="text" id="readCPARRCMan" readonly />
                            <div class="form-text">Environment</div>
                            <input class="form-control" type="text" id="readCPARRCEnvironment" readonly />
                        </div>
                    </div>
                </fieldset>

            </div>

            <hr class="border border-2">

            <div class="form-group row respondent">
                <div class="col-4">
                    <div class="form-text">Prepared By</div>
                    <input class="form-control" type="text" id="readCPARFooterPreparedBy" readonly />
                </div>
                <div class="col-4">
                    <div class="form-text">Checked By</div>
                    <input class="form-control" type="text" id="readCPARFooterCheckedBy" readonly />
                </div>
                <div class="col-4">
                    <div class="form-text">Approved By</div>
                    <input class="form-control" type="text" id="readCPARFooterApprovedBy" readonly />
                </div>
            </div>

        </div>

        <div class="col-7">
            <h6 class="form-text text-center">Corrections</h6>
            <div class="tableWrapper">
                <div class="row" id="readCPARCorrectionsTable"></div>
            </div>

            <hr class="border border-2">

            <div class="tableWrapper">
                <div class="row" id="readCPARCorrectiveActionsTable"></div>
            </div>

            <hr class="border border-2">
            
            <div class="tableWrapper">
                <div class="row" id="readCPARPreventiveActionsTable"></div>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer" hidden>
    <button class="btn btn-primary" type="button" id="createConformitySubmit" data-bs-dismiss="modal">Submit</button>
</div>

<partial name="Partials/_UploadEvidenceModal"></partial>

@section Scripts
{
    <script src="~/JS/CorrectionsTable.js"></script>
    <script src="~/JS/CorrectiveActionsTable.js"></script>
    <script src="~/JS/PreventiveActionsTable.js"></script>
    <script src="~/JS/ReadCPAR/ReadCPAR.js"></script>

    <script src="~/JS/UploadEvidence.js"></script>
}