@page
@using COMLaptopPass.Models


@model COMLaptopPass.Pages.LaptopPass.IndexModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>


    <form method="post" asp-page-handler="Jeck">
        <input type="date" asp-for=param.startdate />
        <input type="date" asp-for=param.stopdate />
        <input type="submit" value="Refresh" class="btn btn-secondary" />
    </form>



</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                itemno
            </th>
            <th>
                empbu
            </th>
            <th>
                fullname
            </th>
            <th>
                empposition
            </th>
            <th>
                localno
            </th>
            <th>
                email
            </th>
            <th>
                empcode
            </th>
            <th>
                directoryid
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (LaptopPassRequestModel item in Model.requestList)
        {
            <tr>
                <td>
                    @item.fapno
                </td>
                <td>
                    @item.bucode
                </td>
                <td>
                    @item.bucode
                </td>
                <td>
                    @item.buname
                </td>
                <td>
                    @item.empno
                </td>
                <td>
                    @item.empno
                </td>
                <td>
                    @item.empcode
                </td>
                <td>
                    @item.empno
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </tbody>



</table>
