@model IEnumerable<IssueModel>

@{
    ViewData["Title"] = "RC, CAPA & Ver.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RC, CAPA & Ver.</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssueCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlNumber)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Take(8))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueCreator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ControlNumber)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="RCV" asp-action="RCVDet" asp-route-id="@item.ControlNumber">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
