@model IEnumerable<ActionModel> 
@{
    ViewData["Title"] = "RCV Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var issue = ViewData["Issue"] as IssueModel;
    var action = ViewData["Action"] as IEnumerable<ActionModel>;
    var vers = ViewData["Vers"] as IEnumerable<Vermodel>;

    string? role = TempData["Role"] as string;    
    TempData.Keep();
}

<div class="container">
    <div class="w-100 d-flex justify-content-center">
        <div>
            <h1>@issue!.ControlNumber</h1>
        </div>
    </div>
    <hr />

    <table class="table table-bordered table-striped">
        <thead>
            <tr style="background-color:blue">
                <td>Control No.</td>
                <th>Date Found</th>
                <th>Issue #</th>
                <th>Product</th>
                <th>Affected Qty</th>
                <th>Problem Desc.</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color:white">
                <td>@issue!.ControlNumber</td>
                <td>@issue!.DateFound</td>
                <td>@issue!.IssueNo</td>
                <td>@issue!.Product</td>
                <td>@issue!.Qty</td>
                <td>@issue!.ProbDesc</td>
            </tr>
        </tbody>
    </table>

    <div class="w-100">
        <table class="table table-bordered table-striped">
            <thead>
                <tr style="background-color:blue">

                    <th>Technical/Systemic Cause</th>
                    <th>Escape Cause</th>
                    <th>Action</th>
                    <th>PIC</th>
                    <th>Target Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var obj in Model)
                    {
                        <tr style="background-color:white">
                            <td style="width:20%">
                                <textarea style="max-height:150px; max-width:100%; min-height:150px; min-width:100%; background-color:transparent; border-color:transparent" readonly></textarea>
                            </td>
                            <td style="width:20%">
                                <textarea style="max-height:150px; max-width:100%; min-height:150px; min-width:100%; background-color:transparent; border-color:transparent" readonly></textarea>
                            </td>
                            <td style="width:20%">
                                <textarea style="max-height:150px; max-width:100%; min-height:150px; min-width:100%; background-color:transparent; border-color:transparent" readonly>@obj.Action</textarea>
                            </td>
                            <td style="width:20%">
                                <textarea style="max-height:150px; max-width:100%; min-height:150px; min-width:100%; background-color:transparent; border-color:transparent" readonly>@obj.PIC</textarea>
                            </td>
                            <td style="width:20%">
                                <div>
                                    <div>
                                        <input class="form-control w-100 text-center" value="@obj.TargetDate.ToShortDateString()" readonly />
                                    </div>
                                </div>
                            </td>
                            @{
                                if (vers.Any(j => j.ActionID == obj.ActionID))
                                {
                                    string stat = vers.FirstOrDefault(j => j.ActionID == obj.ActionID).Status;
                                    if (stat == "o")
                                    {
                                        <td style="background-color:lightpink">
                                            OPEN
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="background-color:limegreen">
                                            CLOSED
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td style="background-color:lightpink">
                                        OPEN
                                    </td>
                                }
                            }
                            <td>
                                @{
                                    if (role == "Admin" || role == "Verificator")
                                    {
                                        <a class="btn btn-success w-100" asp-controller="RCV" asp-action="VerRCVView" asp-route-id="@obj.ActionID">Verify</a>
                                    }
                                    if (obj.HasVer)
                                    {
                                        <a class="btn btn-primary mt-2 h-75 w-100" asp-controller="RCV" asp-action="RCVViewDet" asp-route-id="@obj.ActionID">View Verification</a>
                                    }
                                    if (role == "Admin")
                                    {
                                        <a class="btn btn-danger mt-2 h-75 w-100" asp-controller="RCV" asp-action="RCVDelete" asp-route-id="@obj.ActionID">Delete</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>                             