@model TESModel
@{
    ViewData["Title"] = "CAPA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tcdb = ViewData["actions"] as List<ActionModel>;
    List<TargetDateModel> tds = ViewBag.tds as List<TargetDateModel>;
    List<string> names = ViewBag.pic;

    var remarks = ViewBag.remarks as List<Vermodel>;

    string EN = TempData["EN"] as string;
    string Role = TempData["Role"] as string;
    TempData.Keep();
}

@functions
{
    public static TimeSpan GetBusinessDays(DateTime startDate, DateTime endDate)
    {
        int totalDays = (int)(endDate - startDate).TotalDays;
        int businessDays = 0;

        for (int i = 0; i <= totalDays; i++)
        {
            DateTime currentDate = startDate.AddDays(i);
            if (currentDate.DayOfWeek != DayOfWeek.Saturday && currentDate.DayOfWeek != DayOfWeek.Sunday)
            {
                businessDays++;
            }
        }

        if (businessDays > 0)
        {
            businessDays--;
        }

        return TimeSpan.FromDays(businessDays);
    }
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container flex-column">
    <div class="col-12 col-md-4 w-100 flex-column">
        <div class="d-flex">          
            <div>
                <h2 class="text-nowrap my-0">CORRECTIVE ACTION AND PREVENTIVE ACTION</h2>
            </div>
            <div class="w-100 d-flex justify-content-end">    
                @{
                    if (ViewBag._8D)
                    {
                        <button class="btn btn-success mx-5" onclick="OpenRep()">See 8D Report</button>
                    }

                    if (Role == "Admin")
                    {
                        <button class="btn btn-primary" onclick="openModal()">Add Action</button>
                    }
                }
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row">
            <div class="col-12 col-md-3">
                <table class="table table-bordered text-center border-dark h-100 table-hover">
                    <thead>
                        <tr>
                            <th>
                                Technical Cause:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <textarea class="w-100 h-100 bg-transparent" readonly>@Model.TRC</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-9 mx-md-2 overflow-auto">
                <table class="table table-bordered text-center border-dark h-100 table-hover">
                    <thead class="top-0 position-sticky">
                        <tr>
                            <th style="width:40%">
                                Action
                            </th>
                            <th style="width:15%">
                                PIC
                            </th>
                            <th style="width:15%">
                                TCD
                            </th>
                            <th style="width:15%">
                                STATUS
                            </th>
                            <th style="width:15%">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (tcdb.Where(j => j.Type == "tc") != null)
                            {
                                foreach (var tc in tcdb.Where(j => j.Type == "tc").OrderByDescending(j => j.DateCreated))
                                {
                                    string style = "background-color: green";
                                    if (tc.ActionStatus == "Open")
                                    {
                                        style = "background-color: red";
                                    }
                                    <tr>
                                        <td>
                                            <textarea class="bg-transparent border-0" style="max-width:100%; max-height:100%; min-width:100%; min-height: auto" readonly>@tc.Action</textarea>
                                        </td>
                                        <td>
                                            @tc.PIC
                                        </td>
                                        <td class="flex-column text-wrap">
                                            @{
                                                var tdss = tds.Where(j => j.ControlNo == tc.ControlNo && j.Status == "Open" && j.ActionID == tc.ActionID).ToList().OrderBy(j => j.TDID);
                                                int index = 0;

                                                foreach (var td in tdss)
                                                {
                                                    string print = td.TD.ToShortDateString() + "\r\n";
                                                    if (index != tdss.Count() - 1)
                                                    {
                                                        <div>
                                                            <s>@print</s>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <p>@print</p>
                                                        </div>
                                                    }

                                                    index++;
                                                }
                                            }
                                        </td>
                                        <td style="@style" class="text-white">
                                            <div class="flex-column">
                                                <div>
                                                    @tc.ActionStatus
                                                </div>
                                                @if (tc.ActionStatus == "Closed")
                                                {
                                                    <div>
                                                        @tc.TargetDate.ToShortDateString()
                                                    </div>
                                                }
                                                @if (tc.VerStatus)
                                                {
                                                    <div class="bg-primary">
                                                        Verified
                                                   </div>
                                                }
                                            </div>
                                        </td>
                                        <td class="w-100">
                                            <div class="d-flex flex-column flex-lg-row">
                                                @{
                                                    if (tc.HasVer)
                                                    {
                                                        <a class="btn btn-primary w-100" asp-controller="RCV" asp-action="RCVViewDet" asp-route-id="@tc.ActionID">View</a>
                                                    }
                                                    if ((tc.PIC == EN || Role == "Admin") && tc.ActionStatus == "Open" && !tc.VerStatus)
                                                    {
                                                        <a class="btn btn-success w-100" asp-controller="RCV" asp-action="ViewVer" asp-route-id="@tc.ActionID">Action</a>                                                 
                                                    }
                                                    if (tc.HasVer && Role == "Viewer")
                                                    {
                                                        string rem = remarks.FirstOrDefault(j => j.ActionID == tc.ActionID).Result;

                                                        <button class="btn btn-warning w-100" onclick="ShowRemarks('@rem')">Remarks</button>
                                                    }
                                                                                                   
                                                }
                                            </div>

                                            @if (tc.ActionStatus == "Closed")
                                            {
                                                <input class="form-control text-center" value="Aging: @GetBusinessDays(tdss.OrderBy(j => j.TDID).Last().TD,tc.TargetDate).TotalDays Day/s" readonly />
                                            }

                                            @if ((Role == "Admin" && tc.ActionStatus == "Closed" && !tc.VerStatus) || (Role == "Admin" && tc.TargetDate < DateTime.Now && tc.ActionStatus == "Open" && !tc.VerStatus))
                                            {
                                                <button class="btn btn-secondary text-white border-2 border-dark w-100" onclick="OpenVerModal('@tc.ActionID')">Verify</button>
                                            }

                                            @if (tc.ActionStatus == "Open" && tc.VerStatus && (EN == tc.PIC || Role == "Admin"))
                                            {
                                                <button class="btn btn-secondary w-100" onclick="OpenRecModal('@tc.ActionID')">Recommit</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
           </div>          
        </div>
    </div>
    <div class="col-12 col-md-4 w-100 flex-column mt-5">
        <div class="d-flex flex-column flex-md-row">
            <div class="col-12 col-md-3">
                <table class="table table-bordered text-center border-dark h-100 table-hover">
                    <thead class="top-0 position-sticky">
                        <tr>
                            <th>
                                Escape Cause:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <textarea class="w-100 h-100 bg-transparent" readonly>@Model.ERC</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-9 mx-md-2 table-responsive">
                <table class="table table-bordered text-center border-dark h-100 table-hover">
                    <thead class="top-0 position-sticky">
                        <tr>
                            <th style="width:40%">
                                Action
                            </th>
                            <th style="width:15%">
                                PIC
                            </th>
                            <th style="width:15%">
                                TCD
                            </th>
                            <th style="width:15%">
                                STATUS
                            </th>
                            <th style="width:15%">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (tcdb.Where(j => j.Type == "ec") != null)
                            {
                                foreach (var ec in tcdb.Where(j => j.Type == "ec").OrderByDescending(j => j.DateCreated))
                                {
                                    string style = "background-color: green";
                                    if (ec.ActionStatus == "Open")
                                    {
                                        style = "background-color: red";
                                    }
                                    <tr>
                                        <td>
                                            <textarea class="bg-transparent border-0" style="max-width:100%; max-height:100%; min-width:100%; min-height: auto" readonly>@ec.Action</textarea>
                                        </td>
                                        <td>
                                            @ec.PIC
                                        </td>
                                        <td class="flex-column text-wrap">
                                            @{
                                                var tdss = tds.Where(j => j.ControlNo == ec.ControlNo && j.Status == "Open" && j.ActionID == ec.ActionID).ToList().OrderBy(j => j.TDID);
                                                int index = 0;

                                                foreach (var td in tdss)
                                                {
                                                    string print = td.TD.ToShortDateString() + "\r\n";
                                                    if (index != tdss.Count() - 1)
                                                    {
                                                        <div>
                                                            <s>@print</s>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <p>@print</p>
                                                        </div>
                                                    }

                                                    index++;
                                                }
                                            }
                                        </td>
                                        <td style="@style" class="text-white">
                                            <div class="flex-column">
                                                <div>
                                                        @ec.ActionStatus
                                                </div>
                                                @if (ec.ActionStatus == "Closed")
                                                {
                                                    <div>
                                                           @ec.TargetDate.ToShortDateString()
                                                    </div>
                                                }
                                                @if (ec.VerStatus)
                                                {
                                                    <div class="bg-primary">
                                                        Verified
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                        <td class="w-100">
                                            <div class="d-flex flex-column flex-lg-row">
                                                    @{
                                                        if (ec.HasVer)
                                                        {
                                                            <a class="btn btn-primary w-100" asp-controller="RCV" asp-action="RCVViewDet" asp-route-id="@ec.ActionID">View</a>
                                                        }
                                                        if ((ec.PIC == EN || Role == "Admin") && ec.ActionStatus == "Open" && !ec.VerStatus)
                                                        {
                                                            <a class="btn btn-success w-100" asp-controller="RCV" asp-action="ViewVer" asp-route-id="@ec.ActionID">Action</a>
                                                        }
                                                        if (ec.HasVer && Role == "Viewer")
                                                        {
                                                            string rem = remarks.FirstOrDefault(j => j.ActionID == ec.ActionID).Result;
                                                            <button class="btn btn-warning w-100" onclick="ShowRemarks('@rem')">Remarks</button>
                                                        }

                                                    }
                                            </div>

                                                @if (ec.ActionStatus == "Closed")
                                                {
                                                    <input class="form-control text-center" value="Aging: @GetBusinessDays(tdss.OrderBy(j => j.TDID).Last().TD, ec.TargetDate).TotalDays Day/s" readonly />
                                                }

                                                @if ((Role == "Admin" && ec.ActionStatus == "Closed" && !ec.VerStatus) || (Role == "Admin" && ec.TargetDate < DateTime.Now && ec.ActionStatus == "Open" && !ec.VerStatus))
                                                {
                                                    <button class="btn btn-secondary text-white border-2 border-dark w-100" onclick="OpenVerModal('@ec.ActionID')">Verify</button>
                                                }

                                                @if (ec.ActionStatus == "Open" && ec.VerStatus && (EN == ec.PIC || Role == "Admin"))
                                                {
                                                    <button class="btn btn-secondary w-100" onclick="OpenRecModal('@ec.ActionID')">Recommit</button>
                                                }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 w-100 flex-column mt-5">
        <div class="d-flex flex-column flex-md-row">
            <div class="col-12 col-md-3">
                <table class="table table-bordered text-center border-dark h-100 table-hover">
                    <thead>
                        <tr>
                            <th>
                                Systematic Cause:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <textarea class="w-100 h-100 bg-transparent" readonly>@Model.SRC</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-9 mx-md-2 table-responsive">
                <table class="table table-bordered text-center border-dark h-100 table-hover">
                    <thead class="top-0 position-sticky">
                        <tr>
                            <th style="width:40%">
                                Action
                            </th>
                            <th style="width:15%">
                                PIC 
                            </th>
                            <th style="width:15%">
                                TCD
                            </th>
                            <th style="width:15%">
                                STATUS
                            </th>
                            <th style="width:15%">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (tcdb.Where(j => j.Type == "sc") != null)
                            {
                                foreach (var sc in tcdb.Where(j => j.Type == "sc").OrderByDescending(j => j.DateCreated))
                                {
                                    string style = "background-color: green";
                                    if (sc.ActionStatus == "Open")
                                    {
                                        style = "background-color: red";
                                    }
                                    <tr>
                                        <td>
                                            <textarea class="bg-transparent border-0" style="max-width:100%; max-height:100%; min-width:100%; min-height: auto" readonly>@sc.Action</textarea>
                                        </td>
                                        <td>
                                            @sc.PIC
                                        </td>
                                        <td class="flex-column text-wrap">
                                            @{
                                                var tdss = tds.Where(j => j.ControlNo == sc.ControlNo && j.Status == "Open" && j.ActionID == sc.ActionID).ToList().OrderBy(j => j.TDID);
                                                int index = 0;

                                                foreach (var td in tdss)
                                                {
                                                    string print = td.TD.ToShortDateString() + "\r\n";
                                                    if (index != tdss.Count() - 1)
                                                    {
                                                       <div>
                                                            <s>@print</s>
                                                       </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <p>@print</p>
                                                        </div>
                                                    }

                                                    index++;
                                                }
                                            }
                                        </td>
                                        <td style="@style" class="text-white">
                                            <div class="flex-column">
                                                <div>
                                                    @sc.ActionStatus
                                                </div>
                                                @if (sc.ActionStatus == "Closed")
                                                {
                                                    <div>
                                                        @sc.TargetDate.ToShortDateString()
                                                    </div>
                                                }
                                                @if (sc.VerStatus)
                                                {
                                                    <div class="bg-primary">
                                                        Verified
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                        <td class="w-100">
                                            <div class="d-flex flex-column flex-lg-row">
                                                @{
                                                    if (sc.HasVer)
                                                    {
                                                        <a class="btn btn-primary w-100" asp-controller="RCV" asp-action="RCVViewDet" asp-route-id="@sc.ActionID">View</a>
                                                    }
                                                    if ((sc.PIC == EN || Role == "Admin") && sc.ActionStatus == "Open" && !sc.VerStatus)
                                                    {
                                                        <a class="btn btn-success w-100" asp-controller="RCV" asp-action="ViewVer" asp-route-id="@sc.ActionID">Action</a>
                                                    }
                                                    if (sc.HasVer && Role == "Viewer")
                                                    {
                                                        string rem = remarks.FirstOrDefault(j => j.ActionID == sc.ActionID).Result;

                                                        <button class="btn btn-warning w-100" onclick="ShowRemarks('@rem')">Remarks</button>
                                                    }

                                                }
                                            </div>

                                            @if (sc.ActionStatus == "Closed")
                                            {
                                                <input class="form-control text-center" value="Aging: @GetBusinessDays(tdss.OrderBy(j => j.TDID).Last().TD, sc.TargetDate).TotalDays Day/s" readonly />
                                            }

                                            @if ((Role == "Admin" && sc.ActionStatus == "Closed" && !sc.VerStatus) || (Role == "Admin" && sc.TargetDate < DateTime.Now && sc.ActionStatus == "Open" && !sc.VerStatus))
                                            {
                                                <button class="btn btn-secondary text-white border-2 border-dark w-100" onclick="OpenVerModal('@sc.ActionID')">Verify</button>
                                            }

                                            @if (sc.ActionStatus == "Open" && sc.VerStatus && (EN == sc.PIC || Role == "Admin"))
                                            {
                                                <button class="btn btn-secondary w-100" onclick="OpenRecModal('@sc.ActionID')">Recommit</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-content w-auto h-auto" id="vermodal">
    <h4 class="modal-title text-center">Verify Action Item</h4>
    <button class="modal-close btn btn-danger" onclick="CloseVerModal()">X</button>
    <hr />       
    <form class="flex-column text-dark" asp-controller="RCV" asp-action="VerifyActionItem" enctype="multipart/form-data">
        <input id="verid" name="actionid" type="hidden" />
        <div class="flex-column mt-2">
            <label class="form-label">Status</label>
            <select class="form-select" onchange="ChangedStatus(this.value)" name="status" required>
                <option value="" selected hidden>Please select status</option>
                <option>Open</option>
                <option>Closed</option>
            </select>
        </div>
        <div class="flex-column mt-2">
            <label class="form-label">Date Verified</label>
            <input type="date" class="form-control" name="date" required />
        </div>
        <div class="flex-column mt-2">
            <label class="form-label">Evidence</label>
            <input type="file" class="form-control" name="file" accept=".pdf" required />
        </div>
        <div class="flex-column mt-2">
            <label class="form-label">Remarks</label>
            <textarea name="remarks" class="form-control" style="max-height:150px; min-height:50px; max-width:100%; min-width:100%; height:50px"></textarea>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <input type="submit" class="btn btn-primary" />
        </div>   
    </form>
</div>

<form asp-controller="RCV" asp-action="SubmitActionItem" method="post">
<div class="modal-content w-50 h-75 flex-column" id="modal" style="z-index:2100">
    <div>
        <button class="btn btn-danger modal-close" onclick="closeModal()"><i style="font-size:24px" class="fa">&#xf00d;</i></button>
        <h4 class="modal-title text-center">Create Action ID</h4>
    </div>
    <div class="mt-2">        
            <input value="@Model.ControlNo" name="ID" hidden/>
            <div>
                <label class="form-label">Action Item:</label>
                <textarea class="w-100 h-100 border-dark form-control" name="action" required></textarea>
            </div>
            <div>
                <label class="form-label">Person In Charge:</label>
                <input class="form-control w-100 border-dark" list="picNames" name="pic"/>
                <datalist id="picNames">
                    @foreach (string name in names)
                    {
                        <option value="@name">@name</option>
                    }
                </datalist>
                @*<select class="form-select w-100 border-dark" name="pic">
                    
                </select>*@
            </div>
            <div>
                <label class="form-label">Dependency:</label>
                <input class="w-100 h-100 form-control border-dark" name="dep" required />
            </div>
            <div>
                <label class="form-label">Target Date:</label>
                <input class="w-100 h-100 form-control border-dark" type="date" name="td" required>
            </div>
            <div>
                <label class="form-label">Pick Cause:</label>
                <select class="form-select border-dark w-100" name="whichdb">
                    <option value="tc">
                        Technical Cause
                    </option>
                    <option value="ec">
                        Escape Cause
                    </option>
                    <option value="sc">
                        Systematic Cause
                    </option>
                </select>
            </div>
            <div class="mt-5">
                <input class="btn btn-primary w-100" type="submit" />
            </div>       
    </div>
</div>
</form>

<div class="modal-content w-50 h-50" style="z-index:2100" id="showremarks">
    <button class="modal-close btn btn-danger" onclick="CloseRemarks()"><i style="font-size:24px" class="fa">&#xf00d;</i></button>
    <h4 class="modal-title text-center">Remarks</h4>
    <textarea id="remarkstextarea" style="max-width:100%; max-height:85%; min-height:85%; min-width:100%; background-color:transparent" readonly>

    </textarea>
</div>

<div class="modal-content h-100 w-100" style="z-index:2100" id="8drep">
    <button class="modal-close btn btn-danger" onclick="CloseRep()"><i style="font-size:24px" class="fa">&#xf00d;</i></button>
    <h4 class="modal-title text-center">8D Report</h4>
    <div class="w-100" style="height:90%">
        @if (ViewBag._8D)
        {
            <iframe class="w-100 h-100" src="@Url.Action("ShowPdf", new { ID = Model.ControlNo})">Attachment here</iframe>
        }
    </div>
</div>

<div class="modal-content h-auto w-25" id="recommitDate">
    <div>
        <h4 class="modal-title text-center">Recommit</h4>
    </div>
    <div>
        <button class="modal-close btn btn-danger" onclick="document.getElementById('recommitDate').style.display = 'none'">X</button>
    </div>
    <form asp-controller="RCV" asp-action="RecommitActionItem">
        <input value="" id="actid" name="actID" hidden/>
        <div class="mt-2">
            <label class="form-label w-auto">Recommit Date</label>
            <input class="form-control w-auto" type="date" name="date" required />
        </div>
        <div class="mt-3">
            <input class="btn btn-primary w-auto" type="submit" placeholder="Recommit" />
        </div>
    </form>
</div>

<script>
    function OpenRecModal(id){
        var RecommitDate = document.getElementById('recommitDate');

        RecommitDate.style.display = "block";
        document.getElementById('actid').value = id;
    }

    function ChangedStatus(str)
    {
        var StatChange = document.getElementById('statuschange');

        if (str === "Please select status" || str === "Close")
        {
            StatChange.innerHTML = "Date Verified";
        }
        else
        {
            StatChange.innerHTML = "Recommit Date";
        }
    }

    function OpenVerModal(id)
    {
        var VerModal = document.getElementById('vermodal');
        document.getElementById('verid').value = id;

        VerModal.style.display = 'block';
        
    }

    function CloseVerModal()
    {
        document.getElementById('vermodal').style.display = 'none';
    }

    function OpenRep()
    {
        var Rep = document.getElementById('8drep');
        Rep.style.display = "block";
    }

    function CloseRep()
    {
        var Rep = document.getElementById('8drep');
        Rep.style.display = "none";
    }

    function ShowRemarks(str)
    {
        var Remarks = document.getElementById('showremarks');
        var Textarea = document.getElementById('remarkstextarea');

        Textarea.innerText = str;
        Remarks.style.display = 'block';
    }

    function CloseRemarks()
    {
        var Remarks = document.getElementById('showremarks');

        Remarks.style.display = 'none';
    }

    function openModal()
    {
        var modal = document.getElementById('modal');

        modal.style.display = 'block';
    }

    function closeModal()
    {
        var modal = document.getElementById('modal');

        modal.style.display = 'none';
    }
</script>