@model PIMES_DMS.Models.AccountsModel

@{
    ViewData["Title"] = Model.AccName + " Details";
}

<div class="container">
    <h1>Details > @Model.AccName</h1>


    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AccUCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AccUCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AccName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AccName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Section)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Section)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-danger" asp-action="AdminView">Back to List</a>
    </div>
</div>
