@model AccountsModel

@{
    ViewData["Title"] = "Edit > " + Model.AccName;
    string address = "";
}



<div class="container">
    <h1>Edit Account</h1>

    <hr />
    <div class="row">
        <div class="col-6">
            <form asp-controller="Admin" asp-action="EditUser" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AccID" name="accid" />
                <div class="form-group">
                    <label asp-for="AccUCode" class="control-label"></label>
                    <input asp-for="AccUCode" class="form-control" readonly name="accucode" />
                    <span asp-validation-for="AccUCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccName" class="control-label"></label>
                    <input asp-for="AccName" class="form-control" name="accname" readonly />
                    <span asp-validation-for="AccName" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Section" class="control-label"></label>
                    <select asp-for="Section" class="form-select" name="section">
                        @foreach (var sect in Enum.GetValues(typeof(Sections)))
                        {
                            <option value="@sect.ToString()">@sect.ToString()</option>
                        }
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Role" class="control-label"></label>
                    <select asp-for="Role" class="form-select" name="role">
                        @foreach (var role in Enum.GetValues(typeof(Roles)))
                        {
                            <option value="@role.ToString()">@role.ToString()</option>
                        }
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Email" class="control-label"></label>
                    <div class="d-flex">
                        @{
                            if (!string.IsNullOrEmpty(Model.Email))
                            {
                                foreach (char c in Model.Email)
                                {
                                    if (c != '@')
                                    {
                                        address += c;
                                    }
                                    else
                                    {
                                        break;
                                    }
                                }
                            }
                        }
                        <input value="@address" class="form-control" name="email"/>
                        <select class="form-select" name="sec">
                            <option>&#64;pimes</option>
                            <option>&#64;gmail</option>
                            <option>&#64;yahoo</option>
                            <option>&#64;outlook</option>
                        </select>
                        <select class="form-select" name="dom">
                            <option>.com.ph</option>
                            <option>.com</option>
                        </select>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" name="username" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" name="password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-between mt-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-danger" asp-action="AdminView">Back to List</a>
                </div>
            </form>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>

