@model IEnumerable<PIMES_DMS.Models.IssueModel>

@{
    ViewData["Title"] = "Validated Issues";
    var mod = Model.OrderByDescending(j => j.DateCreated).ToList();
}
@section scripts {
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                searching: true,
                lengthChange: false,
                pageLength: 7,
                ordering: false
            });
        });
    </script>
}

<div class="container">
    <h1>Validated Issues</h1>
    <hr />

    <div>
        <div class="form-control-lg w-100">
            <form asp-controller="Validation" asp-action="SearchVal" method="get">
                <div class="d-flex">
                    <div class="align-self-center">
                        <input class="form-control w-100" name="ss" placeholder="Search" />
                    </div>
                    <div>
                        <input style="margin-left:5px" class="btn btn-primary" type="submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped text-center align-content-center table-hover" id="myTable">
        <thead>
            <tr>
                <th>
                    Issue No.
                </th>
                <th>
                    Issue Creator
                </th>
                <th>
                    Product
                </th>
                <th>
                    Serial No.
                </th>
                <th>
                    Affected P/N
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date Acknowledged
                </th>
                <th>
                    Date Validated
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in mod)
            {
                <tr style="height:30px">
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueCreator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AffectedPN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        @item.DateAck.ToShortDateString()
                    </td>
                    <td>
                        @item.DateVdal.ToShortDateString()
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-route-id="@item.IssueID" asp-controller="Validation" asp-action="ValidatedIssueDetail">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



