@model IssueModel

@{
    ViewData["Title"] = "Validated Issue With Report";

    string setColor;
    if (Model.ValRes == "Valid") setColor = "color:red"; else setColor = "color:green";

    string? emailSnip = ViewBag.EmailSnip as string;
}

<div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <h1 style="@setColor">@Model.ValRes Claim</h1>
        </div>
    </div>

    <hr />
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-6">
                <table class="table table-responsive table-hover">
                    <tr>
                        <th>
                            Issue Creator:
                        </th>
                        <td>
                            @Model.IssueCreator
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Issue #:
                        </th>
                        <td>
                            @Model.IssueNo
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Control #:
                        </th>
                        <td>
                            @{
                                if (string.IsNullOrEmpty(Model.ControlNumber))
                                {
                                    Write("Not Required");
                                }
                                else
                                {
                                    Write(Model.ControlNumber);
                                }
                            }                            
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Date Found:
                        </th>
                        <td>
                            @Model.DateFound.ToShortDateString()
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Product:
                        </th>
                        <td>
                            @Model.Product
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Serial #:
                        </th>
                        <td>
                            @Model.SerialNo
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Affected P/N:
                        </th>
                        <td>
                            @Model.AffectedPN
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Description:
                        </th>
                        <td>
                            @Model.Desc
                        </td>
                    </tr>
                    <tr style="height:auto">
                        <th>
                            Problem Description:
                        </th>
                        <td>
                            @Model.ProbDesc
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-md-6">
                <div class="card border-3 border-dark">
                    <div class="card-header text-center text-white border-3 border-dark" style="background-color:steelblue">
                        VALIDATION FORM RESULT
                    </div>
                    <div class="card-body flex-column" style="background-color:lightsteelblue">
                        <div class="d-flex align-items-center mx-5">
                            <label class="form-label fw-bold h-100 my-auto">Report Number:</label>
                            <input class="text-center form-control w-50" style="margin-left:5px" value="@Model.ValNo" readonly />
                        </div>
                        <div class="flex-column align-items-center mx-5 my-3">
                            <div class="row w-100">
                                @{
                                    if (Model.Report != null)
                                    {
                                        <div class="d-flex align-self-center col-sm-12 col-md-5">
                                            <label class="form-label fw-bold h-100 my-auto">Evidence:</label>
                                            <button class="btn btn-primary mx-2" onclick="openModal()">View</button>
                                        </div>
                                    }
                                    else
                                    {
                                        Write("No Attachment");
                                    }

                                    @if (Model.ValRes == "Invalid" && Model.EmailSnip != null)
                                    {
                                        <div class="col-sm-12 col-md-5">
                                            <label class="form-label text-nowrap h-100 my-auto fw-bold my-auto">Reply:</label>
                                            <button class="btn btn-primary mx-2" onclick="OpenEmailSnip()">View</button>
                                        </div>
                                    }
                                    else if (Model.ValRes == "Invalid" && Model.EmailSnip == null)
                                    {
                                        <div>
                                            <label class="form-label text-nowrap h-100 my-auto fw-bold">Add Reply:</label>
                                            <button class="btn btn-primary mx-2" onclick="openAddEmailSnip()">Add</button>
                                        </div>
                                    }

                                    if (Model.ValRes == "Valid" && Model.HasTES)
                                    {
                                        <div class="d-flex align-self-center col-sm-12 col-md-5">
                                            <label class="form-label text-nowrap my-auto fw-bold">View Action Items:</label>
                                            <a class="btn btn-primary mx-2 text-nowrap" asp-controller="RCV" asp-action="TESActions" asp-route-id="@Model.ControlNumber">Action Items</a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="mx-5">
                            <label class="form-label fw-bold mb-0">Summary Report:</label>
                            <div>
                                <textarea class="w-100 mt-2" style="max-height:200px; min-height:200px" readonly>@Model.ValidationRepSum</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-content w-100 h-100" style="z-index: 2100;" id="showEvidence">
    <button class="modal-close btn btn-danger" onclick="closeModal()">Close</button>
    <h4 class="modal-title text-center">Report</h4>
    <hr class="my-1"/>
    <iframe class="w-100" style="height:95%" src="@Url.Action("ShowPdf", "Validation", new {ID = Model.IssueID})"></iframe>
</div>

<div class="modal-content w-50 h-50" style="z-index: 2100" id="addEmail">
    <button class="btn btn-danger modal-close" onclick="closeAddEmailSnip()">Close</button>
    <h4 class="modal-header text-center">Add Email Snip</h4>
    <form asp-controller="Validation" asp-action="SaveEmailSnip" enctype="multipart/form-data">
        <input value="@Model.IssueID" name="ID" hidden/>
       <div class="align-self-center">
            <label>Upload Email Snip here:</label>
            <input class="form-control" type="file" accept="image/*" name="img" required />
            <input class="btn btn-primary mt-3" type="submit" value="Save" />
       </div>
    </form>
</div>

<div class="modal-content w-100 h-75" style="z-index: 2100" id="openEmail">
    <button class="modal-close btn btn-danger" onclick="CloseEmailSnip()">X</button>
    <h4 class="modal-title text-center my-0">Reply to customer</h4>
    <div class="w-auto" style="height:90%">
        @if (Model.ValRes == "Invalid")
        {
            string stringforEmail = Convert.ToBase64String(Model.EmailSnip);
            ViewBag.EmailSnip = $"data:image/jpeg;base64,{stringforEmail}";
        }
        <img class="w-100 h-100"  id="modalImage" src="@ViewBag.EmailSnip" alt="Image">
    </div>
</div>

<script>
    function OpenEmailSnip()
    {
        var emailSnip = document.getElementById('openEmail');

        emailSnip.style.display = "block";
    }

    function CloseEmailSnip()
    {
        var emailSnip = document.getElementById('openEmail');

        emailSnip.style.display = "none";
    }

    function openModal() {
        var eviModal = document.getElementById('showEvidence');
        eviModal.style.display = "block";
    }

    function closeModal() {
        var eviModal = document.getElementById('showEvidence');
        eviModal.style.display = "none";
    }

    function openAddEmailSnip()
    {
        var AddEmailSnip = document.getElementById('addEmail');
        AddEmailSnip.style.display = "block";
    }

    function closeAddEmailSnip() {
        var AddEmailSnip = document.getElementById('addEmail');
        AddEmailSnip.style.display = "none";
    }
</script>

