@using QA_Audit_Fresh.Models
@model List<ConformityModel>

@if (Model.Count > 0)
{
    <div class="tableWrapper col-12">
        <table class="table table-striped" id="conformitiesTable">
            <thead class="table-primary">
                    <tr>
                        <th scope="col" hidden>ConformityId</th>
                        <th scope="col" hidden>PlanId</th>
                        <th class="header" scope="col">Description</th>
                        <th class="header" scope="col">Area/Section</th>
                        <th class="header" scope="col">Actions</th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var conformity in Model)
                {
                    <tr>
                        <td hidden>@conformity.ConformityId</td>
                        <td hidden>@conformity.PlanId</td>
                        <td>@conformity.ConformityDescription</td>
                        <td>@conformity.ConformityAreaSection</td>
                        <td data-conformityid="@conformity.ConformityId">
                            <button type="button" class="btn btn-danger conformity-delete fa-solid fa-trash"></button>
                            <button type="button" class="btn btn-secondary conformity-delete fa-solid fa-pen-to-square"></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

} else 
{
    <partial name="Partials/_EmptyTable"></partial>
}
<button class="form-control fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#createConformity" />