@using QA_Audit_Fresh.Models
@model List<CorrectionModel>

<h6 class="form-text text-center">Corrections</h6>
<div class="tableWrapper col-12">
    <table class="table table-striped" id="correctionsTable">
    @if (Model.Count > 0)
    {
        <thead>
            <tr>
                <th scope="col" hidden>CorrectionId</th>
                <th scope="col" hidden>CPARId</th>
                <th scope="col">Correction (Immediate Action)</th>
                <th scope="col">Escape Cause</th>
                <th scope="col">Action for Escape Cause</th>
            </tr>
        </thead>
        <tbody>

                @foreach (var correction in Model)
                {
                    <tr>
                        <td hidden>@correction.CorrectionId</td>
                        <td hidden>@correction.CPARId</td>
                        <td>@correction.CorrectionDescription</td>
                        <td>@correction.EscapeCause</td>
                        <td>@correction.Action</td>
                    </tr>
                }
        </tbody>
    } else 
    {
        <partial name="Partials/_EmptyTable"></partial>
    }
    </table>
</div>
<div class="d-flex ">
    <button class="form-control" id="readCPARCorrectionsSubmit">
        <i class="fa-solid fa-plus"></i> 
    </button>
</div>
