@page
@model ATSSFG.Pages.Sourcing.SourcingRFQFormModel
@{
    string department = HttpContext?.Session.GetString("Dept") ?? "";
    string encoder = HttpContext?.Session.GetString("Encoder") ?? "";
    string processor = HttpContext?.Session.GetString("Processor") ?? "";
    string status = @Model.ViewModel.RFQProjectData?.Status;
}
@if(department == "Cost Engineering" || department == "Sourcing")
{
    @Html.AntiForgeryToken()
    <div class="card p-2 bg-light">
        <div class="border-2 border-bottom border-dark">
            <h4 class="fw-bold">SOURCING RFQ FORM</h4>
        </div>
        <div class="row p-2">
            <div class="col-sm-6 col-lg-6" id="capture">
                <div class="table-responsive">
                    <table class="table w-sm-auto table-bordered" id="ProjectTbl">
                        <tbody>
                            <tr>
                                <th class="col-sm col-lg-2 text-primary">Project Name</th>
                                <td class="col-sm col-lg-4">
                                    <input type="text" id="projectName" class="form-control form-control-sm text-bg-secondary" value="@Model.ViewModel.RFQProjectData?.ProjectName" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-sm col-lg-2 text-primary">Customer</th>
                                <td>
                                    <input type="text" id="customer" class="form-control form-control-sm text-bg-secondary" value="@Model.ViewModel.RFQProjectData?.Customer" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-sm col-lg-2 text-primary">Quotation Code/Purchase Request Code</th>
                                <td>
                                    <input type="text" id="quotationCode" class="form-control form-control-sm text-bg-secondary" value="@Model.ViewModel.RFQProjectData?.QuotationCode" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-sm col-lg-2 text-primary">Number of Items</th>
                                <td>
                                    <input type="text" id="customerPartNumber" class="form-control form-control-sm text-bg-secondary" value="@Model.ViewModel.RFQProjectData?.NoItems" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-sm col-lg-2 text-primary">Request Date</th>
                                <td>
                                    <input type="text" id="requestDate" class="form-control form-control-sm text-bg-secondary" value="@Model.ViewModel.RFQProjectData?.RequestDate.ToShortDateString()" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-sm col-lg-2 text-primary">Required Completion Date</th>
                                <td>
                                    <input type="text" id="requiredDate" class="form-control form-control-sm text-bg-secondary" value="@Model.ViewModel.RFQProjectData?.RequiredDate.ToShortDateString()" readonly>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @if (department == "Sourcing" && status == "OPEN")
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="mx-2 mt-2">
                        <i class="">Upload the excel file</i>
                    </div>
                    <div class="input-group p-2">
                        <input type="file" class="form-control" accept=".xlsx, .xls" id="excelFileInput">
                        <button class="btn btn-success" type="button" onclick="checkExcel()"><i class="fa-solid fa-upload"></i> Upload</button>
                    </div>
                </div>
            }
            <div class=" mb-1">
                <div class="table-responsive">
                    <table class="table table-sm display table-striped table-hover text-wrap" id="SRFQTbl" style="width: 100%">
                        <thead class="table-secondary">
                            <tr>
                                <th>Item No</th>
                                <th>Customer Part Number</th>
                                <th>Rev</th>
                                <th>Description</th>
                                <th>Original MPN/Raw Material for Fab Parts</th>
                                <th>Original Manufacturer/Finishing for Fab Parts</th>
                                <th>Commodity</th>
                                <th>Quantity per Assembly</th>
                                <th>Annual Forecast Quantity</th>
                                <th>BOM UOM</th>
                                <th>Common or Unique Parts</th>
                                @if (department == "Cost Engineering")
                                {
                                    <th>Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.ViewModel.RFQData)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.CustomerPartNumber</td>
                                    <td>@item.Rev</td>
                                    <td>@item.Description</td>
                                    <td>@item.OrigMPN</td>
                                    <td>@item.OrigMFR</td>
                                    <td>@item.Commodity</td>
                                    <td>@item.Eqpa</td>
                                    <td id="annualForecast">@item.AnnualForecast</td>
                                    <td>@item.UoM</td>
                                    <td>
                                        @if (item.Status == "COMMON")
                                        {
                                            <span class="badge rounded-pill text-bg-secondary">@item.Status</span>
                                        }
                                        else if (item.Status == "UNIQUE")
                                        {
                                            <span class="badge rounded-pill text-bg-primary">@item.Status</span>
                                        }
                                        else
                                        {
                                            @item.Status
                                        }
                                    </td>
                                    @if (department == "Cost Engineering")
                                    {
                                        <td>
                                            <i class="fa-solid fa-pen-to-square text-primary fs-4 btnEdit" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#editModal" type="button"></i>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (department == "Cost Engineering")
            {
                <div class="d-flex justify-content-end gap-2 m-2">
                    <button type="button" class="btn btn-primary border-3 border-primary-subtle" data-bs-toggle="modal" data-bs-target="#addAnnualForecastModal">
                        <i class="fa-solid fa-circle-plus"></i> Add Annual Forecast
                    </button>
                    <button type="button" class="btn btn-primary border-3 border-primary-subtle" id="btnSubmit"><i class="fa-solid fa-paper-plane"></i> Submit</button>
                </div>
            }
        </div>
    </div>

    @if (department == "Cost Engineering")
    {
        @await Html.PartialAsync("_RFQForm")
    }

    @section Scripts {
    <script src="~/JavaScript/SRFQForm.js"></script>
    }
}
