@model IEnumerable<DMD_Prototype.Controllers.SVSesViewModel>
@{
    Layout = null;
    string[] EN = TempData["EN"] as string[];
    TempData.Keep();
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <script src="~/chart.js/chart.js"></script>
    <a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map"></a>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <a href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map"></a>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/datatables/datatable.min.css" rel="stylesheet" />
    <script src="~/datatables/datatable.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="myTable">
                <thead class="table-primary text-center">
                    <tr>
                        <th>
                            Doc No
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Module
                        </th>
                        <th>
                            Serial Number
                        </th>
                        <th>
                            Current Technician
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody id="tablebody">
                    @foreach (var line in Model)
                    {
                        <tr>
                            <td>
                                @line.DocNo
                            </td>
                            <td>
                                @line.Desc
                            </td>
                            <td>
                                @line.Module
                            </td>
                            <td>
                                @line.SerialNo
                            </td>
                            <td>
                                @line.CurrentTech
                            </td>
                            <td>
                                @if (EN[1] == "USER" && line.CurrentTech != EN[0])
                                {
                                    <button class="btn btn-primary w-100" onclick="TakeWork('@line.SWID')">Take</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var idGetter = '';

        $(document).ready(function () {
            $('#myTable').DataTable({
                searching: true,
                lengthChange: false,
                pageLength: 7,
                order: [],
                ordering: false
            });
        });


        function TakeWork(str) {
            idGetter = str;
            $('#confirmAction').modal('show');
        }

        function ConfirmAction() {
            window.location.href = '@Url.Action("TakeSession", "TransferWork")' + '?id=' + idGetter + '&userId=' + '@EN[2]';
        }

    </script>

    <div class="modal fade border-2 border-dark" data-bs-backdrop="static" data-bs-keyboard="false" id="confirmAction">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content border border-dark">
                <div class="modal-header bg-primary fs-5 fw-bold text-white">
                    Confirm
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-between w-100">
                        <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" onclick="ConfirmAction()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
