@model DMD_Prototype.Controllers.TravelerViewModel

@{
    ViewData["Title"] = "Travelers";
    string[]? EN = TempData["EN"] as string[];
    TempData.Keep();

    string containerType = (EN[1] == "ADMIN") ? "container-fluid" : "container";
    string logtype;
}

<script>
    $(document).ready(function () {
        $('#travtable').DataTable({
            searching: true,
            lengthChange: false,
            pageLength: 7,
            order: [],
            ordering: false
        });
    });
</script>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover text-center table-striped" id="travtable">
            <thead class="table-primary text-nowrap">
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        Doc#
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Finished Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Technician
                    </th>
                    <th>
                        Serial#
                    </th>
                    <th>
                        Module
                    </th>
                    <th>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-post my-auto" viewBox="0 0 16 16">
                            <path d="M4 3.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5z" />
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                        </svg>
                        View
                    </th>
                    @if(EN[1] == "ORIGINATOR" || EN[1] == "ADMIN")
                    {
                        <th>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill my-auto" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z" />
                            </svg>
                            Download
                        </th>
                    }
                    @if (EN[1] == "ADMIN" || EN[1] == "SUPERVISOR")
                    {
                        <th>
                            Others
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Travs.OrderByDescending(j => j.FinishDate))
                {
                    string finishedDate = "Not Finished yet";
                    if (item.LogType == "C") logtype = "Config Log"; else logtype = "Test Equipt.";
                    if (item.FinishDate != null)
                    {
                        finishedDate = item.FinishDate;
                    }

                    <tr>
                        <td>
                            @item.Desc
                        </td>
                        <td>
                            @item.DocNo
                        </td>
                        <td>
                            @item.StartDate
                        </td>
                        <td>
                            @item.FinishDate
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Technician
                        </td>
                        <td>
                            @item.SerialNo
                        </td>
                        <td>
                            @item.Module
                        </td>
                        <td>
                            <div class="w-100 d-flex justify-content-start text-nowrap">
                                <button class="btn btn-success d-flex btn-sm mx-1" type="button" onclick="OpenExcel('@item.SessionID', 'userTravName')">
                                    
                                    <p class="my-auto mx-1">Traveler</p>
                                </button>
                                @if (item.Status == "Done" && item.LogType != "N")
                                {
                                    <button class="btn btn-primary d-flex btn-sm mx-1" type="button" onclick="OpenExcel('@item.SessionID', 'logName')">
                                        
                                        <p class="my-auto mx-1">
                                            @{
                                                Write(logtype);
                                            }
                                        </p>
                                    </button>
                                }
                            </div>
                        </td>
                        @if (EN[1] == "ORIGINATOR" || EN[1] == "ADMIN")
                        {
                            <td>
                                <div class="w-100 d-flex justify-content-start text-nowrap">
                                    @if (item.FinishDate != null && (EN[1] == "ADMIN" || EN[1] == "ORIGINATOR"))
                                    {
                                        <a asp-controller="DocGenerator" asp-action="DownloadPdf" asp-route-sessionId="@item.SessionID" asp-route-whichFile="userTravName" class="btn btn-secondary d-flex btn-sm mx-1">

                                            <p class="my-auto mx-1">Traveler</p>
                                        </a>
                                    }

                                    @if (item.FinishDate != "NF" && (EN[1] == "ADMIN" || EN[1] == "ORIGINATOR") && item.LogType != "N")
                                    {
                                        <a asp-controller="DocGenerator" asp-action="DownloadPdf" asp-route-sessionId="@item.SessionID" asp-route-whichFile="logName" class="btn btn-secondary d-flex btn-sm mx-1">

                                            <p class="my-auto mx-1">
                                                @{
                                                    Write(logtype);
                                                }
                                            </p>
                                        </a>
                                    }
                                    @if (EN[1] == "ADMIN")
                                    {
                                        <a class="btn text-white btn-sm mx-1" style="background-color:cadetblue" asp-controller="DocGenerator" asp-action="DownloadExcel" asp-route-sessionId="@item.SessionID" asp-route-whichFile="userTravName">T</a>

                                        @if (item.Status == "Done" && item.LogType != "N")
                                        {
                                            <a class="btn text-white btn-sm mx-1" style="background-color:cadetblue" asp-controller="DocGenerator" asp-action="DownloadExcel" asp-route-sessionId="@item.SessionID" asp-route-whichFile="logName">L</a>
                                        }
                                    }
                                </div>

                            </td>
                        }
                        @if (EN[1] == "ADMIN" || EN[1] == "SUPERVISOR")
                        {
                            <td>
                                <div class="row">
                                    @if (item.FinishDate == "NF")
                                    {

                                        <div class="col-sm-12 col-lg-6">
                                            <button class="btn btn-secondary mx-2 d-flex btn-sm mx-1 text-nowrap" data-bs-toggle="modal" data-bs-target="#changeworker" onclick="ChangeTravWorker('@item.Technician', '@item.SWID')">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-gear my-auto" viewBox="0 0 16 16">
                                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                                                </svg>
                                                <p class="my-auto mx-1">Transfer</p>
                                            </button>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <a class="btn btn-warning mx-2 d-flex btn-sm mx-1 text-danger border border-danger" asp-controller="Traveler" asp-action="HoldWork" asp-route-sessionId="@item.SessionID">
                                                <p class="w-100 text-center my-auto">Hold</p>
                                            </a>
                                        </div>

                                    }
                                    @if (EN[1] == "ADMIN")
                                    {
                                        <div class="col-sm-12 col-lg-12">
                                            <button class="btn btn-warning mx-2 d-flex btn-sm mx-1 text-danger border border-danger" onclick="DeleteTraveler('@item.SWID')">
                                                <p class="w-100 text-center my-auto">Obsolete/Delete</p>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </td>                  
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="confirmDeleteModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white fw-bold">
                Confirm Traveler Delete
                <button class="btn-close" data-bs-dismiss="modal" onclick="document.getElementById('confirmDeleteButton').removeAttribute('asp-route-SWID');"></button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <a class="btn btn-warning" id="confirmDeleteButton">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="changeworker">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <div class="modal-title d-flex text-white">
                    <div class="align-self-start">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                        </svg>
                    </div>
                    <p class="fs-5 fw-bold my-auto mx-2">
                        Transfer Work
                    </p>
                </div>
                <button class="btn-close" data-bs-dismiss="modal" id="closechangeworkermodal"></button>
            </div>
            <form  id="submitworktransfer">
                <input id="travID" name="ID" hidden/>
                <div class="modal-body">
                    <div class="d-flex justify-content-around">
                        <div>
                            <label class="form-label">Current Worker</label>
                            <input class="form-control" value="" id="currentWorker" readonly/>
                        </div>
                        <div>
                            <label class="form-label">Update Worker</label>
                            <select class="form-select" id="toWorker">
                                <option id="currentworkerselect" hidden selected></option>
                                @foreach (string name in Model.Users)
                                {
                                    <option>@name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">
                        Submit
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-terminal-plus mx-1" viewBox="0 0 16 16">
                            <path d="M2 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V4a1 1 0 0 0-1-1H2Z" />
                            <path d="M3.146 5.146a.5.5 0 0 1 .708 0L5.177 6.47a.75.75 0 0 1 0 1.06L3.854 8.854a.5.5 0 1 1-.708-.708L4.293 7 3.146 5.854a.5.5 0 0 1 0-.708ZM5.5 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5ZM16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z" />
                        </svg>                       
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function (){
        $('#submitworktransfer').submit(function (e){
            e.preventDefault();

            var TravId = document.getElementById('travID').value;
            var WorkerName = document.getElementById('toWorker').value;
            var CurrentWorker = document.getElementById('currentWorker').value;

            if (CurrentWorker === WorkerName){
                alert('Action failed, you cannot transfer work of a worker to itself.')
            }
            else{
                $.ajax({
                    url: '@Url.Action("ValidateWorkTransfer", "Traveler")',
                    data: { ID: TravId, toWorker: WorkerName },
                    success: function (r) {
                        if (r.response === 'go') {
                            window.location.href = '@Url.Action("ChangeTravWorker", "Traveler")' + '?ID=' + TravId + '&toWorker=' + WorkerName;
                            alert('Work transfer completed..');
                        }
                        else {
                            alert('Action could not be completed, selected worker could already have an outstanding session.');
                        }
                    },
                    error: function (r) {
                        alert('Something went wrong');
                    }
                });
            }
            
            $('#closechangeworkermodal').click();
        });
    });

    function ChangeTravWorker(prevworker, id) {
        document.getElementById('travID').value = id;
        document.getElementById('currentWorker').value = prevworker;
        document.getElementById('currentworkerselect').innerHTML = prevworker;
    }

    function DeleteTraveler(id) {
        $('#confirmDeleteModal').modal('show');
        $('#confirmDeleteButton').attr('href', '@Url.Action("ObsoleteTraveler", "Home")' + '?SWID=' + id);
    }
</script>

<div class="modal fade" data-bs-backdrop="static" id="viewtravmodal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <div class="modal-title d-flex text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-easel-fill my-auto" viewBox="0 0 16 16">
                        <path d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h1.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11H7.5v2.5a.5.5 0 0 0 1 0V11h2.592l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11H14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H9.046L8.473.337z" />
                    </svg>
                    <p class="fs-5 fw-bold my-auto mx-2">PDF Viewer</p>                    
                </div>
                <button class="btn-close" data-bs-dismiss="modal" onclick="ClearIframeSrc()"></button>
            </div>
            <div class="modal-body">
                <div class="position-absolute bg-transparent end-0" style="height:60px; width:25%">
                </div>
                <div>                   
                    <iframe class="w-100 border-3 border-dark" id="viewtravmodalbody" src="" style="height:580px">Traveler Here</iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var excelFrame = document.getElementById('viewtravmodalbody');
    
    function OpenExcel(sesId, whichFile)
    {
        $(function () {
            $('#viewtravmodal').modal('show');
            excelFrame.src = '@Url.Action("ViewExcelFile", "DocGenerator")' + '?sessionId=' + sesId + '&whichFile=' + whichFile;
        });
    }

    function ClearIframeSrc()
    {
        excelFrame.src = null;
    }
</script>
