@model ERModel
@{
    ViewData["Title"] = "Edit Containment Rep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form asp-controller="ER" asp-action="EditER" method="post">
        <input value="@Model.ERID" name="erid" hidden />
        <div class="d-flex justify-content-between">
            <div>
                <h1>Edit C.R</h1>
            </div>
            <div class="align-self-center">
                <div>
                    <label class="fw-bold">Control No.</label>
                    <input class="text-center fw-bold" value="@Model.ControlNo" name="controlno" readonly />
                </div>
            </div>
        </div>

        <hr />

        <div class="d-flex mx-auto table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>PHASE</th>
                        <th>SOH</th>
                        <th>GOOD</th>
                        <th>N.G</th>
                        <th>DISPOSITION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>WSHE</th>
                        <td><input value="@Model.WHSESOH" class="form-control w-100 text-center" type="number" name="whsoh" /></td>
                        <td><input value="@Model.WHSEGOOD" class="form-control w-100 text-center" type="number" name="whgood" /></td>
                        <td><input value="@Model.WHSENOGOOD" class="form-control w-100 text-center" type="number" name="whnogood" /></td>
                        <td>
                            <select asp-for="@Model.WHSEDis" class="form-select w-100" name="whdis">
                                <option value="Use as is">Use as is</option>
                                <option value="Scrap">Scrap</option>
                                <option value="Rework">Rework</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>IQA</th>
                        <td><input value="@Model.IQASOH" class="form-control w-100 text-center" type="number" name="iqsoh" /></td>
                        <td><input value="@Model.IQASOH" class="form-control w-100 text-center" type="number" name="iqgood" /></td>
                        <td><input value="@Model.IQANOGOOD" class="form-control w-100 text-center" type="number" name="iqnogood" /></td>
                        <td>
                            <select asp-for="@Model.IQADis" class="form-select w-100" name="iqdis">
                                <option value="Use as is">Use as is</option>
                                <option value="Scrap">Scrap</option>
                                <option value="Rework">Rework</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>WIP</th>
                        <td><input value="@Model.WIPSOH" class="form-control w-100 text-center" type="number" name="wisoh" /></td>
                        <td><input value="@Model.WIPGOOD" class="form-control w-100 text-center" type="number" name="wigood" /></td>
                        <td><input value="@Model.WIPNOGOOD" class="form-control w-100 text-center" type="number" name="winogood" /></td>
                        <td>
                            <select asp-for="@Model.WIPDis" class="form-select w-100" name="widis">
                                <option value="Use as is">Use as is</option>
                                <option value="Scrap">Scrap</option>
                                <option value="Rework">Rework</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>FG</th>
                        <td><input value="@Model.FGSOH" class="form-control w-100 text-center" type="number" name="fgsoh" /></td>
                        <td><input value="@Model.FGGOOD" class="form-control w-100 text-center" type="number" name="fggood" /></td>
                        <td><input value="@Model.FGNOGOOD" class="form-control w-100 text-center" type="number" name="fgnogood" /></td>
                        <td>
                            <select asp-for="@Model.FGDis" class="form-select w-100" name="fgdis">
                                <option value="Use as is">Use as is</option>
                                <option value="Scrap">Scrap</option>
                                <option value="Rework">Rework</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="flex-column">
            <div class="flex-column h-50">
                <div>
                    <label class="fw-bold">Emergency Response</label>
                </div>
                <div class="w-50">
                    <label class="form-label">RMA #</label>
                    <input class="form-control w-50" name="rma" value="@Model.RMAno" readonly/>
                </div>
            </div>
            <hr class="mt-4" />
            <div class="d-flex justify-content-evenly align-content-end">
                <div class="w-25 align-self-end">
                    <input class="btn btn-danger w-100" value="Discard" />
                </div>
                <div class="w-25 align-self-end">
                    <input class="btn btn-primary w-100" type="submit" />
                </div>
            </div>
            <hr />
        </div>
    </form>
</div>