@model ERModel
@{
    ViewData["Title"] = "Containment Report >";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <h1>Containment Report</h1>
        </div>
        <div class="align-self-center">
            <div>
                <label class="fw-bold">Control No.</label>
                <input class="fw-bold text-center" value="@Model.ControlNo" readonly />
            </div>
        </div>
    </div>

    <hr />

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>PHASE</th>
                    <th>SOH</th>
                    <th>GOOD</th>
                    <th>N.G</th>
                    <th>DISPOSITION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>WHSE</th>
                    <td><input value="@Model.WHSESOH" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.WHSEGOOD" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.WHSENOGOOD" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.WHSEDis" class="form-control w-100 text-center" readonly /></td>
                </tr>
                <tr>
                    <th>IQA</th>
                    <td><input value="@Model.IQASOH" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.IQASOH" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.IQANOGOOD" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.IQADis" class="form-control w-100 text-center" readonly /></td>
                </tr>
                <tr>
                    <th>WIP</th>
                    <td><input value="@Model.WIPSOH" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.WIPGOOD" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.WIPNOGOOD" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.WIPDis" class="form-control w-100 text-center" readonly /></td>
                </tr>
                <tr>
                    <th>FG</th>
                    <td><input value="@Model.FGSOH" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.FGGOOD" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.FGNOGOOD" class="form-control w-100 text-center" type="number" readonly /></td>
                    <td><input value="@Model.FGDis" class="form-control w-100 text-center" readonly /></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="flex-column">
        <div class="w-100 h-100">
            <div>
                <label class="fw-bold">Emergency Response</label>
            </div>
            <div>
                @{
                    string rep;
                    if (!string.IsNullOrEmpty(Model.RMAno))
                    {
                        rep = "For Replacement";
                    }
                    else
                    {
                        rep = "No";
                    }
                }
                <label class="form-label mt-3">Need Replacement?</label>
                <input class="form-control w-auto fw-bold" value="@rep" readonly />
            </div>
            <div class="mt-1 form-group w-100">
                @{
                    string rma;
                    if (!string.IsNullOrEmpty(Model.RMAno))
                    {
                        rma = Model.RMAno;
                    }
                    else
                    {
                        rma = "No RMA#";
                    }
                }
                <label class="form-label">RMA #</label>
                <input class="form-control w-auto fw-bold" value="@rma" readonly />
            </div>
        </div>
    </div>
</div>

