@model IEnumerable<PIMES_DMS.Models.IssueModel>

@{
    ViewData["Title"] = "Invalid Claims";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                searching: true,
                lengthChange: false,
                pageLength: 5,
                order: [],
                ordering: false
            });
        });
    </script>
}

<div class="container">
    <h1 class="text-center">Invalid Claims</h1>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center align-items-center table-hover" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IssueCreator)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IssueNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProbDesc)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(j => j.DateFound))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssueCreator)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssueNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProbDesc)
                        </td>
                        <td>
                            <div class="d-flex">
                                <a class="btn btn-primary w-100" asp-controller="Validation" asp-action="ValIssueDet" asp-route-id="@item.IssueID">Details</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>